@use "../variables" as *;

#resume-btn {
    min-width: 100px;
    width: 30vw;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: $main;
    a {
        color: $text;
        font-size: 20px;
    }
}

#About .styled-text-cont h1{
    display: block;
}