@use "../variables" as *;
#Contact {
    min-height: 100vh;
    h1 {
    font-family: Lato;
    color: $main;
    font-weight: 900;
    text-align: left;
    margin-left: 3vw;
    }
    h2 {
        text-align: left;
    }
    #contact-links{
        margin: 5vh 5vw;
    }
}