@use "../variables" as *;

img {
    width: 100vw;
    margin-top: $nav-height;
    height: $hero-height;
    background-color: $main;
    // background-color: #4ea699;
}

span {
    color: $main;
    // color: #4ea699;
}

h1 {
    color: $text;
    // color: #f7f5f1;
    display: inline;
}