@use "../variables" as *;

.titlecard-img {
    width: 100%;
    overflow: hidden;
    height: $hero-height;
    max-height: 600px;
    background-color: $main;
}

.styled-text-cont h1 {
    display: inline-flex;
    margin: 0 5vw 2vh 5vw;
    text-align: start;
    flex-direction: column;
    color: $text;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
        font-size: 1.2em;
        color: $main;
    }
}