@use "../variables" as *;

.nav-main {
    color: $main;
    // color: #4EA699;
    background-color: $secondary;
    // background-color: #111717;
    padding: 10px 10px;
    height: $nav-height;
    width: 100vw;
    top:0px;
    position: -webkit-sticky;
    position: sticky;
    font-size: 16pt;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0px;
        margin:5px 15px;
    }
    a {
        text-decoration: none;
        color: $main;
    }
}

