$main: #4ea699;
$secondary: #111717;
$text: #f7f5f1;
$nav-height: 55px;
$hero-height: 45vh;
$left-margin: 5vw;
$right-margin: 5vw;
$sm-breakpoint: 768px;
$md-breakpoint: 1024px;
$lg-breakpoint: 1200px; 